html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

img {
    width: auto;
    height: 100%;
}

form {

}

label {
    display: block;
}

.left-bar {

}

.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form, div.account-div, div.info-div {
    margin: 20px 0;
}

.info-div {

}

.account-div {

}