*:focus {
    outline: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    overflow: hidden;
}

img {
    width: auto;
    height: 100%;
}

label {
    display: block;
}

input {
    border-color: #E5E7EB;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    width: 200px;
    height: 20px;
}

input:focus {
    border-color: blue;
    border-width: 1px;
}

.right-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form, div.account-div, div.info-div {
    padding: 20px 40px;
}

form {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    z-index: 1;
}

.info-div {
    height: 100%;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.field-div {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 550px;
}

.left-field-div {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.right-field-div {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.account-div {
    height: 100%;
    background-color: #f9fafb;
}